@model KozmetickiClassLibrary.Model.Artikl

@{
    ViewBag.Title = "Delete";
}

<h2>Makni artikl s popisa</h2>

<h3>Jeste li sigurni?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

        <dt>
           Dobavljač
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dobavljac.NazivDobavljaca)
        </dd>

        <dt>
            Kategorija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorija.NazivKategorija)
        </dd>

        <dt>
            Proizvođač
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvodac.Nazivproizvodaca)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Makni artikl" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>
