@model KozmetickiClassLibrary.Model.Zaposlenik

@{
                /**/

                ViewBag.Title = "Brisanje";
}

<h2>Obriši zaposlenika</h2>

<h3>Jeste li sigurni?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            Prezime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>



        <dt>
            Smjena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smjena.SmjenaVal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Obriši" class="btn btn-default" /> |
    @Html.ActionLink("Natrag na popis", "Index")
</div>
}
</div>
